src/main/resources/xsd/students.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://example.com/students"
           xmlns:tns="http://example.com/students"
           elementFormDefault="qualified">
    <!-- Extraire de fichier XSD -->
    <!-- Student -->
    <xs:complexType name="Student">
        <xs:sequence>
            <xs:element name="id" type="xs:long"/>
            <xs:element name="nom" type="xs:string"/>
            <xs:element name="email" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <!-- Add Student -->
    <xs:element name="addStudentRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="student" type="tns:Student"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="addStudentResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="message" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Get Student By ID -->
    <xs:element name="getStudentByIdRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getStudentByIdResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="student" type="tns:Student"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Get All Students -->
    <xs:element name="getAllStudentsRequest">
        <xs:complexType>
            <xs:sequence/>
        </xs:complexType>
    </xs:element>

    <xs:element name="getAllStudentsResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="students" type="tns:Student" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>